.bookmarks-content {
  width: 100%;
}

.bookmarks-topic-header {
  font-weight: 600;
  font-family: var(--primary-font);
  border-bottom: 1px solid #fafafa40;
  text-transform: uppercase;

  line-height: 1.5;
  width: 100%;
}

.bookmarks-topic-header span {
  font-weight: 400;
  text-transform: none;
  text-overflow: ellipsis;
  color: #fafafa99;
}

.bookmarks-topic ul {
  list-style: none;
  display: flex;
  flex-direction: column;

  margin: 1rem;
  gap: 0.5rem;
}

.bookmarks-topic a {
  text-decoration: underline;
  white-space: nowrap;
  color: #fafafa;
}

.bookmarks-topic li {
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.bookmarks-topic li > h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.bookmarks-topic li > span {
    color: #fafafa99;
}

.bookmarks-zweihander-topic {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.5rem;
  place-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.bookmarks-inspo-topic {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.5rem;
  place-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
