.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition:
    transform 0.2s,
    opacity 0.2s;
}

.post {
  padding: 0.75rem;
  border-radius: 12px;
}

.post:hover {
  opacity: 0.9;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.post > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #fafafa50;
  line-height: 1.5;
}

.post > .description {
  font-family: var(--secondary-font);

  padding: 0.5rem;
}

.header-title {
  font-weight: 600;
  font-family: var(--primary-font);
  text-transform: uppercase;

  display: flex;
  align-items: baseline;
  gap: 5px;

  display: inline-flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-title h2 {
  font-weight: 500;
}

.header-title.is-overflowing:hover {
  animation: marquee 5s linear infinite;
  overflow: visible;
  text-overflow: clip;
}

.header-version {
  text-overflow: ellipsis;
  color: #fafafa99;
}

.header-date {
  padding-left: 0.5rem;
  color: #fafafa99;
}

.changelog-modal .modal-content {
  overflow-y: auto;
  max-width: 800px;
  width: 90%;
}

.changelog-modal-content {
  width: 100%;
  min-height: 462px;
  max-height: 462px;
  padding: 1.5rem;
  padding-bottom: 0;
  overflow-y: auto;
}

.changelog-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.changelog-modal-header-content {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.changelog-modal-header-content .version {
  font-style: italic;
  text-transform: uppercase;
  color: #fafafa99;
}

.changelog-modal-header h2 {
  font-weight: 600;
  font-family: var(--primary-font);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.changelog-modal-meta {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  color: #fafafa;
  opacity: 0.8;
}

.changelog-modal-meta .date {
  font-style: italic;
  color: #fafafa99;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
